<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="ms-Fabric">

    {% include header.html %}

    <div class="ms-Grid" dir="ltr">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-sm12 ms-md2 ms-lg3">
          <div id="root"></div>
        </div>
        <div class="ms-Grid-col ms-sm12 ms-md10 ms-lg9">
          <div class="page-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="/assets/javascripts/bundle.js" charset="utf-8"></script>
  </body>

</html>
